.MiniDash {
	background-color: #f0f0f0;
}
.MiniDash_Manager {
	background-color: #f0f0f0;
}
.MiniDash_Manager_PanelLeft {
	background-color: #f0f0f0;
}
.MiniDash_Manager_PanelRight {
	background-color: #f0f0f0;
}